<!DOCTYPE html>
<html lang="es">
<head>
    <title>Validación Biometrica</title>
    <!-- Enlace al archivo de estilos de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Añade estilos personalizados aquí si es necesario */
        .preview-img {
            max-width: 200px;
            max-height: 200px;
        }
        .response-space {
            margin-top: 20px;
        }
        .response-area {
            background-color: #cce5ff; /* Color azul para el área de respuesta */
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-3">Validación Biometrica</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <p for="">Cédula:</p>
                    <input type="file" name="image1" id="image1" accept="image/jpeg" required>
                    <br>
                    <img src="" alt="" id="preview1" class="preview-img mt-2">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <p for="">Foto del usuario:</p>
                    <input type="file" name="image2" id="image2" accept="image/jpeg" required>
                    <br>
                    <img src="" alt="" id="preview2" class="preview-img mt-2">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <label for="cedula">Cedula:</label>
                <input name="cedula" type="text" id="cedula" class="form-control">
                <br>
                <button onclick="subirImagenes()" class="btn btn-primary">Subir Imágenes</button>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-md-6 response-area" id="apiResponse">
                <p id="apiResponseText"></p>
            </div>
        </div>
    </div>

    <!-- Enlaces a los scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function mostrarImagen(input, imgElement) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgElement.src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        // Asignar la función mostrarImagen a los inputs de tipo file
        document.getElementById('image1').addEventListener('change', function () {
            mostrarImagen(this, document.getElementById('preview1'));
        });

        document.getElementById('image2').addEventListener('change', function () {
            mostrarImagen(this, document.getElementById('preview2'));
        });
    </script>

    <script>
    function subirImagenes() {
        var cedula = document.getElementById('cedula').value;
        var formData = new FormData();

        // Leer la primera imagen en base64
        var image1Input = document.getElementById('image1');
        if (image1Input.files && image1Input.files[0]) {
            var reader1 = new FileReader();
            reader1.onload = function (e) {
                var base64content = e.target.result.split(',')[1]; // Obtener solo el contenido base64
                //console.log(base64content);
                formData.append('image1', base64content);
                checkAndSubmit(formData, cedula); // Función para verificar y enviar los datos
            };
            reader1.readAsDataURL(image1Input.files[0]);
        }

        // Leer la segunda imagen en base64
        var image2Input = document.getElementById('image2');
        if (image2Input.files && image2Input.files[0]) {
            var reader2 = new FileReader();
            reader2.onload = function (e) {
                var base64content = e.target.result.split(',')[1]; // Obtener solo el contenido base64
                formData.append('image2', base64content);
                checkAndSubmit(formData, cedula); // Función para verificar y enviar los datos
            };
            reader2.readAsDataURL(image2Input.files[0]);
        }

        formData.append('cedula', cedula);
    }

    function checkAndSubmit(formData, cedula) {
        var apiUrl = window.location.origin;
        apiUrl = apiUrl+'/upload';
        console.log(apiUrl);

        // Verifica si ambos archivos han sido leídos antes de enviar el formulario
        if (formData.has('image1') && formData.has('image2')) {
            // Construye un objeto con los datos en el formato necesario
            var jsonData = {
                cedula: cedula,
                cedula_image: formData.get('image1'),
                faces_image: formData.get('image2')
            };

            // Enviar los datos con Fetch a la API
            fetch(apiUrl, {
                method: 'POST',
                body: JSON.stringify(jsonData),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                var parrafo = document.getElementById('apiResponse');
                parrafo.textContent = `Faces: ${data.faces} \nCedula: ${data.cedula} \nGoogle Paths: ${data.save_on_google}`;
                parrafo.parentElement.style.display = 'block';
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }

    </script>

</body>
</html>